
#news-slider .post-slide{
    cursor:pointer;
    transition: .5s ease all;
    margin-bottom:20px;
}

@media (min-width:900px){
    #news-slider{
        display: flex!important;
    }
}

#news-slider .post-slide:hover{
    transform: rotateZ(-1deg) scale(1.01);
}
.post-slide{
    background: #fff;
    margin: 0 15px;
}

.post-review{
    padding: 15px 25px;
}
.post-bar{
    padding: 15px 0;
    list-style: none;
}
.post-bar > li{
    display: inline-block;
    color: #c1c1c1;
    font-size: 12px;
    line-height: 2;
    margin-right: 3px;
}
.post-bar > li:after{
    content: "|";
    margin-left: 3px;
}
.post-bar > li:last-child:after{
    content: "";
}
.post-bar > li > a{
    text-transform: capitalize;
    color:#999;
}
.post-bar > li > a:hover{
    text-decoration: none;
    color:#e74c3c;
}
.post-title{
    margin-top: 0;
}
.post-title > a{
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    display: block;
    text-transform: capitalize;
}
.post-title > a:hover{
    text-decoration: none;
    color:#e74c3c;
}
.post-description{
    color: #828282;
    font-size: 14px;
    line-height: 25px;
}
.readmore{
    text-transform: capitalize;
    display: inline-block;
    color:#bebebe;

}

.readmore svg{
    padding-left: 10px!important;
}
/* .readmore:after{
    content: "\f061";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    padding-left: 10px;
    display: inline-block;
} */
.readmore:hover{
    color:#e74c3c;
    text-decoration: none;
}